footer{
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: white;
    gap: 50px;
    padding: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 15%;
        height: 25vh;
        border-top: 10px double black;
        border-left: 10px double black;
        padding: 10px;
        border-radius: 10px;
        margin-left: 5vw;
        
        h2{
            text-align: left;
            padding: 0;
            background-color: $color1;
            margin:0;
        }
        p{
            text-align: left;
            //background-color: $color4;
        }
    }
    .social-media{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 15vh;
        //border-right: 10px double black;
        //border-bottom: 10px double black;
        //border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        .sm-logo{
            display: flex;
            width: 20vw;
            height: 10vh;
            a img{
                width: 100%;
                height: 100%;
            }    
        }
    }
    .support-container{
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: auto;
        height: auto;
        border-left: 10px double black;
        border-bottom: 10px double black;
        //border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        font-family: monospace;
        line-height: 20px;
    h2{
        text-align: center;
        background-color: $color1;
        margin: 10px;
    }
    .support{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 0;
        a{
            text-decoration: none;
        }
        a:hover{
            color: $color2;

        }
    }
}
}