.btn-container{
    display: none;
    justify-content: space-around;
    align-content: center;
    width: 55vmin;
    height: 50px;
    border: 1px solid red;
    #prev-btn,
    #next-btn{
        visibility:hidden;
    }
    button{
        width: 25%;
        cursor: pointer;
        border-radius: 20px;
    }
}