* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

--root {
  --cell-size: 100px;
}

--root {
  --cell-size: 100px;
}

@font-face {
  font-family: bubble;
  src: url("../Bubble3d-R80o.ttf");
}

.game-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 55vmin;
  height: 55vmin;
  margin: 50px auto;
  border-radius: 50px;
}

.game-container .cell {
  border: 5px solid white;
  width: calc(100 / 3);
  height: calc(100 / 3);
  cursor: pointer;
  font-family: bubble;
  font-size: 15vmin;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: rgba(0, 0, 0, 0.4);
}

.game-container :nth-child(1),
.game-container :nth-child(2),
.game-container :nth-child(3) {
  border-top: transparent;
}

.game-container :nth-child(1),
.game-container :nth-child(4),
.game-container :nth-child(7) {
  border-left: transparent;
}

.game-container :nth-child(3),
.game-container :nth-child(6),
.game-container :nth-child(9) {
  border-right: transparent;
}

.game-container :nth-child(7),
.game-container :nth-child(8),
.game-container :nth-child(9) {
  border-bottom: transparent;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50vmin;
  height: 50px;
  border: 1px solid red;
}

.btn-container button {
  width: 25%;
  cursor: pointer;
}

.modal-container {
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

.modal-container .modal {
  width: 50vmin;
  height: 50vmin;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/s66-fon-0011-l_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b2d0b694dbb90e46b965722e237d3580");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
}

header {
  display: block;
  height: auto;
  width: auto;
  border: 1px solid black;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.game-status {
  display: none;
}

#turn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
@media (max-height: 700px){
    .game-container .cell{
        font-size: 5rem;
    }
}

@media (max-height: 600px){
    .game-container .cell{
        font-size: 4rem;
    }
}*/
/*# sourceMappingURL=styles.css.map */