* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

--root {
  --cell-size: 100px;
}

--root {
  --cell-size: 100px;
}

@font-face {
  font-family: bubble;
  src: url("../Bubble3d-R80o.ttf");
}

.game-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 55vmin;
  height: 55vmin;
  margin: 20px auto;
  background-color: rgba(252, 252, 252, 0.3);
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3), -5px -10px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3), -5px -10px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.game-container .cell {
  border: 4px double rgba(0, 139, 139, 0.815);
  width: calc(100 / 3);
  height: calc(100 / 3);
  cursor: pointer;
  font-family: bubble;
  font-size: 15vmin;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: rgba(25, 148, 197, 0.4);
  text-shadow: black;
}

.game-container :nth-child(1),
.game-container :nth-child(2),
.game-container :nth-child(3) {
  border-top: transparent;
}

.game-container :nth-child(1),
.game-container :nth-child(4),
.game-container :nth-child(7) {
  border-left: transparent;
}

.game-container :nth-child(3),
.game-container :nth-child(6),
.game-container :nth-child(9) {
  border-right: transparent;
}

.game-container :nth-child(7),
.game-container :nth-child(8),
.game-container :nth-child(9) {
  border-bottom: transparent;
}

.btn-container {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 55vmin;
  height: 50px;
  border: 1px solid red;
}

.btn-container #prev-btn,
.btn-container #next-btn {
  visibility: hidden;
}

.btn-container button {
  width: 25%;
  cursor: pointer;
  border-radius: 20px;
}

@font-face {
  font-family: bubble;
  src: url("../Bubble3d-R80o.ttf");
}

.modal-container {
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

.modal-container .modal {
  width: 55vmin;
  height: 60vmin;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: #E2F0CB;
  border-radius: 30px;
  font-family: bubble;
  color: #bd1a86;
}

.modal-container .modal #result-message-container {
  padding-top: 10px;
  width: 90%;
  text-align: center;
  border-bottom: 5px double white;
}

.modal-container .modal #result-message-container h1 {
  font-size: 4.5vmin;
  font-weight: lighter;
  color: #FF9AA2;
}

.modal-container .modal #winner-container {
  width: 100%;
  text-align: center;
}

.modal-container .modal #winner-container h2 {
  font-size: 5vmin;
  font-weight: lighter;
  color: #FF9AA2;
}

.modal-container .modal #button-container {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  font-size: 3vmin;
}

.modal-container .modal #button-container button {
  border-radius: 20px;
  font-family: bubble;
  height: 100%;
  border: transparent;
  background-color: transparent;
}

.modal-container .modal #button-container button:hover {
  cursor: pointer;
}

.modal-container .modal #score-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 5vmin;
  color: #FF9AA2;
}

.modal-container .modal .score {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px;
}

.modal-container .modal .score #player1,
.modal-container .modal .score #player2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.modal-container .modal .score #player1 h1,
.modal-container .modal .score #player2 h1 {
  padding: 0;
}

.modal-container .modal .score #player1 span,
.modal-container .modal .score #player2 span {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 3vmin;
}

.modal-container .modal .score #player1 #p1-score,
.modal-container .modal .score #player1 #p2-score,
.modal-container .modal .score #player2 #p1-score,
.modal-container .modal .score #player2 #p2-score {
  font-size: 7vmin;
  color: #FF9AA2;
}

@font-face {
  font-family: bubble;
  src: url("../Bubble3d-R80o.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/1926.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
}

header {
  display: block;
  height: 10%;
  width: auto;
  font-family: bubble;
  font-weight: lighter;
  font-size: 10vmin;
  padding: 20px;
}

header #tic {
  color: lightblue;
}

header #tac {
  color: lightyellow;
}

header #toe {
  color: lightseagreen;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: bubble;
  font-weight: lighter;
}

.game-status {
  display: none;
  font-size: 6vmin;
  font-weight: lighter;
  color: palevioletred;
}

#turn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#turn-container span {
  font-size: 6vmin;
  font-weight: lighter;
  color: palevioletred;
}

#turn-container div {
  padding: 20px;
  width: 50%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#turn-container div button {
  margin-top: 20px;
  border-radius: 35%;
  width: 7vmin;
  height: 6vmin;
  background-color: rgba(255, 244, 185, 0.918);
  border: 3px dotted orange;
  font-family: bubble;
  font-weight: lighter;
  font-size: 4vmin;
  color: salmon;
}

/*
@media (max-height: 700px){
    .game-container .cell{
        font-size: 5rem;
    }
}

@media (max-height: 600px){
    .game-container .cell{
        font-size: 4rem;
    }
}*/
/*# sourceMappingURL=styles.css.map */