*{
    box-sizing: border-box;
}
*::after, *::before{
    box-sizing: border-box;
}

--root{
    --cell-size: 100px;
}

@import "./gameContainer";
@import "./btnContainer";
@import "./modal";

body{
    margin: 0;
    padding: 0;
}

header{
    display: block;
    height: auto;
    width: auto;
    border: 1px solid black;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-top: 100px;
    width: 100vw;
    height: 100vh;
    //background-color: aquamarine;
}
/*
@media (max-height: 700px){
    .game-container .cell{
        font-size: 5rem;
    }
}

@media (max-height: 600px){
    .game-container .cell{
        font-size: 4rem;
    }
}*/