* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

--root {
  --cell-size: 100px;
}

--root {
  --cell-size: 100px;
}

@font-face {
  font-family: bubble;
  src: url("../Bubble3d-R80o.ttf");
}

.game-container {
  display: none;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 55vmin;
  height: 55vmin;
  margin: 0;
  margin-top: 0;
  border: 20px solid transparent;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -5px -10px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -5px -10px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.game-container .cell {
  border: 4px double #4CD7D0;
  width: calc(100 / 3);
  height: calc(100 / 3);
  cursor: pointer;
  font-family: bubble;
  font-size: 15vmin;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: salmon;
  text-shadow: black;
}

.game-container :nth-child(1),
.game-container :nth-child(2),
.game-container :nth-child(3) {
  border-top: transparent;
}

.game-container :nth-child(1),
.game-container :nth-child(4),
.game-container :nth-child(7) {
  border-left: transparent;
}

.game-container :nth-child(3),
.game-container :nth-child(6),
.game-container :nth-child(9) {
  border-right: transparent;
}

.game-container :nth-child(7),
.game-container :nth-child(8),
.game-container :nth-child(9) {
  border-bottom: transparent;
}

.btn-container {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 55vmin;
  height: 50px;
  margin-top: 30px;
}

.btn-container #prev-btn,
.btn-container #next-btn {
  visibility: hidden;
}

.btn-container #restartBtn {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  border: transparent;
  color: salmon;
  font-weight: bolder;
  font-size: 1rem;
}

.btn-container button {
  width: 80%;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.btn-container button img {
  width: 90%;
  height: 90%;
}

@font-face {
  font-family: bubble;
  src: url("../Bubble3d-R80o.ttf");
}

.modal-container {
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.781);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

.modal-container .modal {
  width: 65vmin;
  height: 70vmin;
  border: 10px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("https://media.tenor.com/images/568077a1c1fe4817450127a39d64ed50/tenor.gif");
  background-color: #EFF1DB;
  border-radius: 30px;
  font-family: bubble;
  color: #bd1a86;
  /*.tenor-gif-embed{
            position: relative;
            top: 0;
            left: 0;
            height: inherit;
            width: inherit;
        }*/
}

.modal-container .modal #result-message-container {
  padding-top: 10px;
  width: 90%;
  text-align: center;
}

.modal-container .modal #result-message-container h1 {
  font-size: 4.5vmin;
  font-weight: lighter;
  color: #bd1a86;
}

.modal-container .modal #winner-container {
  width: 100%;
  text-align: center;
}

.modal-container .modal #winner-container h2 {
  font-size: 6vmin;
  font-weight: lighter;
  color: #FF9AA2;
}

.modal-container .modal #button-container {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  font-size: 3vmin;
}

.modal-container .modal #button-container button {
  border-radius: 20px;
  font-family: bubble;
  height: 100%;
  border: transparent;
  background-color: transparent;
  font-size: 3vmin;
  color: #bd1a86;
}

.modal-container .modal #button-container button:hover {
  cursor: pointer;
}

.modal-container .modal #score-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 5vmin;
  color: #FF9AA2;
}

.modal-container .modal .score {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px;
}

.modal-container .modal .score #player1,
.modal-container .modal .score #player2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.modal-container .modal .score #player1 h1,
.modal-container .modal .score #player2 h1 {
  padding: 0;
}

.modal-container .modal .score #player1 span,
.modal-container .modal .score #player2 span {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 3vmin;
}

.modal-container .modal .score #player1 #p1-score,
.modal-container .modal .score #player1 #p2-score,
.modal-container .modal .score #player2 #p1-score,
.modal-container .modal .score #player2 #p2-score {
  font-size: 7vmin;
  color: #FF9AA2;
}

@font-face {
  font-family: bubble;
  src: url("../Bubble3d-R80o.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#eff1db), color-stop(#f4ebd5), color-stop(#f9e6d1), color-stop(#fde0d1), color-stop(#ffdad3), color-stop(#ffd4d4), color-stop(#fdcfd7), color-stop(#f9cbdb), color-stop(#f3c4dc), color-stop(#ebbedf), color-stop(#e0b9e2), to(#d3b5e5));
  background-image: linear-gradient(to right bottom, #eff1db, #f4ebd5, #f9e6d1, #fde0d1, #ffdad3, #ffd4d4, #fdcfd7, #f9cbdb, #f3c4dc, #ebbedf, #e0b9e2, #d3b5e5);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  width: 100vw;
  font-family: bubble;
  font-weight: lighter;
  font-size: 13vmin;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 3vh;
}

header div {
  margin: auto;
  -webkit-animation: wiggle 3s infinite;
          animation: wiggle 3s infinite;
}

header #tic {
  color: #4CD7D0;
}

header #tac {
  color: #E1C340;
}

header #toe {
  color: salmon;
}

@-webkit-keyframes startGame {
  0% {
    color: #FD49A0;
  }
  15% {
    color: #A16AE8;
  }
  25% {
    color: #B4FEE7;
  }
  35% {
    color: #603F8B;
  }
  45% {
    color: #887BB0;
  }
  55% {
    color: #85D2D0;
  }
  65% {
    color: #F4B9B8;
  }
  75% {
    color: #2F5061;
  }
  85% {
    color: #F37970;
  }
  100% {
    color: #F85C70;
  }
}

@keyframes startGame {
  0% {
    color: #FD49A0;
  }
  15% {
    color: #A16AE8;
  }
  25% {
    color: #B4FEE7;
  }
  35% {
    color: #603F8B;
  }
  45% {
    color: #887BB0;
  }
  55% {
    color: #85D2D0;
  }
  65% {
    color: #F4B9B8;
  }
  75% {
    color: #2F5061;
  }
  85% {
    color: #F37970;
  }
  100% {
    color: #F85C70;
  }
}

.play-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20vmax;
  width: 80vw;
  height: 60vh;
  padding: 0;
}

.play-game #gif {
  width: 20vmax;
  height: 20vmax;
  margin-bottom: 50px;
  background-color: salmon;
  border: 10px solid white;
  border-radius: 50%;
}

.play-game #start {
  font-family: bubble;
  font-size: 9vmin;
  color: wheat;
  width: 100vw;
  -webkit-animation: startGame 4s infinite;
          animation: startGame 4s infinite;
  border-radius: 20px;
  padding: 10px;
}

.play-game button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  height: 25%;
  width: 75%;
  background-color: transparent;
  border-radius: 50%;
  border: transparent;
}

.play-game button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.play-game button img {
  width: auto;
  height: 100%;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: bubble;
  font-weight: lighter;
}

.main-container .palamans {
  display: none;
  width: 20vmax;
  height: 20vmax;
  position: absolute;
  top: 42vmin;
}

.main-container #palaman2 {
  right: 8vmax;
}

.main-container #palaman3 {
  left: 5vmax;
}

.game-status {
  display: none;
  font-size: 7vmin;
  font-weight: lighter;
  color: #E1C340;
  background-color: #f4f5e9a6;
  border-radius: 5px;
  padding: 5px;
  margin: 20vmin 5vmax 3vmax 5vmax;
}

#turn-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: rgba(255, 244, 185, 0.918);
  border-radius: 50px;
  padding: 20px;
  border: 6px dashed transparent;
  width: 80vmin;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#turn-container span {
  font-size: 4vmin;
  font-weight: lighter;
  color: salmon;
  width: inherit;
  text-shadow: 1px 10px 15px rgba 0, 0, 0, 0.4;
  text-align: center;
}

#turn-container div {
  padding: 20px;
  width: 75%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#turn-container div button {
  margin-top: 20px;
  border-radius: 50%;
  width: 13vmin;
  height: 13vmin;
  background-color: salmon;
  border: 3px dotted transparent;
  font-family: bubble;
  font-weight: lighter;
  font-size: 11vmin;
  padding: 0;
  color: rgba(255, 244, 185, 0.918);
}

#turn-container div button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 900px) {
  header {
    margin: auto;
  }
  .game-status {
    margin-top: 20vmin;
  }
  #start {
    width: 100vw;
  }
}

@media (max-width: 930px) {
  .play-game {
    margin: auto;
  }
  .palamans {
    visibility: hidden;
  }
}

@media (min-height: 1366px) and (min-width: 1024px) {
  .palamans {
    visibility: hidden;
  }
}

@media (max-width: 601px) {
  header {
    margin-top: 5vh;
  }
  .play-game #gif {
    margin-top: 15vh;
    margin-bottom: 0px;
  }
  .game-status {
    margin-top: 20vh;
  }
  .game-container {
    margin-top: 10vh;
    width: 60vw;
    height: 60vw;
    margin: 20px;
  }
  .game-container .cell {
    font-size: 15vmin;
  }
  .modal-container .modal {
    width: 90vw;
  }
  .btn-container {
    width: 90vw;
  }
}

@media (max-width: 410px) {
  .game-container .cell {
    font-size: 14vmin;
  }
}

@media (max-width: 320px) {
  header {
    margin-top: 5vh;
  }
  .play-game #gif {
    margin-top: 15vh;
    margin-bottom: 0px;
  }
  .game-status {
    margin-top: 20vh;
  }
  .game-container {
    margin-top: 10vh;
    width: 80vw;
    height: 80vw;
    margin: 20px;
  }
  .game-container .cell {
    font-size: 20vmin;
  }
  .modal-container .modal {
    width: 90vw;
  }
  .btn-container {
    width: 90vw;
  }
}
/*# sourceMappingURL=styles.css.map */