*{
    box-sizing: border-box;
}
*::after, *::before{
    box-sizing: border-box;
}

--root{
    --cell-size: 100px;
}

@import "./gameContainer";
@import "./btnContainer";
@import "./modal";

body{
    margin: 0;
    padding: 0;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/s66-fon-0011-l_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b2d0b694dbb90e46b965722e237d3580");
    //background-image: url('../assets/20082.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
}

header{
    display: block;
    height: auto;
    width: auto;
    border: 1px solid black;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-top: 100px;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    //background-color: aquamarine;
}

.game-status{
    display: none;
}

#turn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*
@media (max-height: 700px){
    .game-container .cell{
        font-size: 5rem;
    }
}

@media (max-height: 600px){
    .game-container .cell{
        font-size: 4rem;
    }
}*/