*{
    box-sizing: border-box;
}
*::after, *::before{
    box-sizing: border-box;
}

--root{
    --cell-size: 100px;
}

@import "./gameContainer";
@import "./btnContainer";
@import "./modal";

@font-face {
    font-family: bubble;
    src: url("../Bubble3d-R80o.ttf");
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right bottom, #eff1db, #f4ebd5, #f9e6d1, #fde0d1, #ffdad3, #ffd4d4, #fdcfd7, #f9cbdb, #f3c4dc, #ebbedf, #e0b9e2, #d3b5e5);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@keyframes wiggle{
    0% {transform: rotate(3deg);}
    25%{transform: rotate(-3deg);}
    50% {transform: rotate(3deg);}
    75% {transform: rotate(-3deg);}
    100%{transform: rotate(3deg);}
}

header{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100vw;
    //border: 1px solid black;
    font-family: bubble;
    font-weight: lighter;
    font-size: 13vmin;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: 3vh;
    div{
        margin: auto;
        animation: wiggle 3s infinite;
        //margin-left: 31vw;
    }
    #tic{
        color: #4CD7D0;
    }
    #tac{
        color: #E1C340;
    }
    #toe{
        color: salmon;
    }
}


@keyframes startGame {
    0%   {color: #FD49A0}
    15%  {color: #A16AE8}
    25%  {color: #B4FEE7;}
    35%  {color: #603F8B;}
    45%  {color: #887BB0;}
    55%  {color: #85D2D0;}
    65%  {color: #F4B9B8;}
    75%  {color: #2F5061;}
    85%  {color: #F37970;}
    100% {color: #F85C70;}
}

.play-game{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 18vmax;
    width: 80vw;
    height: 60vh;
    padding: 0;
    //background-color: rgba(255, 255, 255, 0.3);
    //border: 1px solid black;
    #gif{
        width: 20vmax;
        height: 20vmax;
        margin-bottom: 50px;
        background-color: salmon;
        border: 10px solid white;
        border-radius: 50%;
    }
    #start{
        font-family: bubble;
        font-size: 9vmin;
        color: wheat;
        width: 100vw;
        animation: startGame 4s infinite;
        //background-color: rgba(255, 255, 255, 0.336);
        border-radius: 20px;
        padding: 10px;
        //border: 5px dashed rgb(216, 219, 15);
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        height: 25%;
        width: 75%;
        background-color: transparent;
        border-radius: 50%;
        border: transparent;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
        img{
            width: auto;
            height: 100%;
        }
    }
}

.main-container{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    //margin-top: 100px;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: bubble;
    font-weight: lighter;
    //background-color: aquamarine;

    .palamans{
        display: none;
        width: 20vmax;
        height: 20vmax;
        position: absolute;
        top: 42vmin;
    }
    #palaman2{
        right: 8vmax;
    }
    #palaman3{
        left: 5vmax;
    }
}
.game-status{
    display: none;
    font-size: 7vmin;
    font-weight: lighter;
    color: #E1C340;
    background-color: #f4f5e9a6;
    //border-top:10px double rgba(255, 244, 185, 0.918);
    //border-bottom:10px double rgba(255, 244, 185, 0.918);
    border-radius: 5px;
    padding: 5px;
    margin: 20vmin 5vmax 3vmax 5vmax;
}

#turn-container{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 244, 185, 0.918);
    border-radius: 50px;
    padding: 20px;
    border: 6px dashed transparent;
    width: 80vmin;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
                5px 5px 5px rgba(0, 0, 0, 0.2);
    span{
        font-size: 4vmin;
        font-weight: lighter;
        color: salmon;
        width: inherit;
        text-shadow: 1px 10px 15px rgba (0, 0, 0, 0.4);
        text-align: center;
    }
    div{
        padding: 20px;
        width: 75%;
        height: 45%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        button{
            margin-top: 20px;
            border-radius:50%;
            width: 13vmin;
            height: 13vmin;
            background-color: salmon;
            border: 3px dotted transparent;
            font-family: bubble;
            font-weight: lighter;
            font-size: 11vmin;
            padding: 0;   
            color: rgba(255, 244, 185, 0.918);
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }     
        }
    }
}

@media (max-width: 900px){
    header{
        margin: auto;
    }
    .game-status{
        margin-top: 20vmin;
    }
    #start{
        width: 100vw;
    }
}

@media (max-width: 930px){
    .play-game{
        margin: auto;
    }
    .palamans{
        visibility: hidden;
    }
}

@media (min-height: 1366px) and (min-width: 1024px) {
    .palamans{
        visibility: hidden;
    }
}
@media (max-width: 601px){
    header{
        margin-top: 5vh;
    }
    .play-game #gif{
        margin-top: 15vh;
        margin-bottom: 0px;
    }
    .game-status{
        margin-top: 20vh;
    }
    .game-container{
        margin-top: 10vh;
        width: 60vw;
        height: 60vw;
        margin: 20px;
        .cell{
            font-size: 15vmin;
        }
    }
    .modal-container .modal{
        width: 90vw;
    }
    .btn-container{
        width: 90vw;
    }
}

@media (max-width: 410px){
    .game-container .cell{
        font-size: 14vmin;
    }
}

@media (max-width: 320px){
    header{
        margin-top: 5vh;
    }
    .play-game #gif{
        margin-top: 15vh;
        margin-bottom: 0px;
    }
    .game-status{
        margin-top: 20vh;
    }
    .game-container{
        margin-top: 10vh;
        width: 80vw;
        height: 80vw;
        margin: 20px;
        .cell{
            font-size: 20vmin;
        }
    }
    .modal-container .modal{
        width: 90vw;
    }
    .btn-container{
        width: 90vw;
    }
}