#modal-container{
    grid-column: 4 / 6;
    grid-row: 1 / 5;
    display: none;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    align-content: center;
    justify-content: center;
    //width: 100%;
    //height: 100%;
    z-index: 1;
}

.modal-content{
    grid-column: 8 / 9;
    grid-row: 3 /7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 20vw;
    height: 280px;
    border: 2px solid rgb(233, 214, 233);
    border-radius: 20px;

    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.959);

    z-index: 1;
    label{
        text-align: left;
        font-size: 1rem;
    }
    button{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
#quote-text,
#quote-author{
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1em;
}