* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    //position: absolute;
}


@import "./mainColumn";
@import "./modal";
@import "./toDoList";

/*@font-face {
    font-family: clock2;
    src: url("../digital-7\ \(mono\ italic\).ttf")
};*/

.main-div{
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url('https://media.cntraveler.com/photos/57fea9ec8584f8cd20e65f15/master/pass/Aerial-One&OnlyReethiRah-Maldives-CRHotel.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    //width: 100vw;
    height: 100vh;
    min-width: 800px;
    min-height: 100vh;
    margin: 0;
    z-index: 1;
    //border: 1px solid red;
    div{
        z-index: 1;
    }
}
#quote-text{
    z-index: 1;
}


@media screen and (max-width:500px ) {
    .main-div{
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: repeat(8, 12.5%);    
        justify-content: space-evenly;
        align-content: center;
    }
    .main-column{
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: repeat(8, 12.5%);
    }
    #button{
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
    }
    #add-quote{
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
    }
}