* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    //position: absolute;
}

@import "./sidebar";
@import "./mainColumn";
@import "./modal";

@font-face {
    font-family: clock2;
    src: url("../digital-7\ \(mono\ italic\).ttf")
};

.main-div{
    display: grid;
    grid-template-columns: 20% 80%;
    //grid-template-rows: repeat(25vh, 4fr);
    justify-content: center;
    align-items: center;
    //flex-direction: column;
    //background-color: white;
    //background-image: url('https://image.freepik.com/free-photo/beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky_181624-2490.jpg');
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    //border: 1px solid red;
    div{
        z-index: 1;
    }
}

.bg-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
