* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.side-bar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1 / 9;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: clock2;
  src: url("../digital-7 (mono italic).ttf");
}

.main-column {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1 / 9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12.5%)[8];
      grid-template-columns: repeat(8, 12.5%);
  -ms-grid-rows: (12.5%)[8];
      grid-template-rows: repeat(8, 12.5%);
  z-index: 1;
}

#time-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 2;
  grid-row: 2;
  z-index: 1;
  text-align: center;
  color: white;
  display: block;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "clock2";
  font-size: 5em;
}

#greetings-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 5;
  grid-row: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 1;
  font-family: monospace;
}

#greetings-container #greetings-text {
  font-size: 3em;
  font-family: monospace;
  text-align: center;
  color: white;
  margin: 0;
}

#greetings-container input {
  display: block;
  border: none;
  border-bottom: 3px solid white;
  margin: auto;
  margin-top: 0;
  padding-right: 20px;
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  background-color: transparent;
  color: orangered;
}

#greetings-container input::-webkit-input-placeholder {
  color: black;
  font-size: 1rem;
  font-family: monospace;
}

#greetings-container input:-ms-input-placeholder {
  color: black;
  font-size: 1rem;
  font-family: monospace;
}

#greetings-container input::-ms-input-placeholder {
  color: black;
  font-size: 1rem;
  font-family: monospace;
}

#greetings-container input::placeholder {
  color: black;
  font-size: 1rem;
  font-family: monospace;
}

#main-focus-container {
  z-index: 1;
  text-align: center;
  color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: monospace;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: black;
}

#main-focus-container #main-focus {
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  font-family: monospace;
  text-align: center;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

#toDoList-container {
  display: none;
  z-index: 1;
  text-align: center;
  color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: monospace;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 40px;
  color: black;
}

#toDoList-container #add-toDo {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  font-family: monospace;
  padding-bottom: 5px;
}

#toDoList-container #add-toDo:hover {
  cursor: pointer;
}

#toDoList-container ul {
  padding: 0;
  margin: 0;
}

#toDoList-container .li {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 0;
  font-family: monospace;
  font-size: 20px;
}

#toDoList-container .li:hover,
#toDoList-container .li button:hover {
  cursor: pointer;
}

#toDoList-container #add-btn {
  height: 2em;
  width: 2em;
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: transparent;
}

#quote-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 6;
  grid-row: 6;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-top: 100px;
  font-size: 1.5em;
  color: white;
  font-weight: bolder;
  text-align: center;
  z-index: 1;
}

#quote-container:hover {
  cursor: pointer;
}

#quote {
  position: fixed;
  padding: 0;
  margin: auto;
  font-size: 1em;
}

#add-quote {
  -ms-grid-column: 7;
  grid-column: 7;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  padding: 0;
  background-color: transparent;
  color: white;
  border: none;
}

#add-quote:hover {
  cursor: pointer;
}

#button {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: transparent;
  width: 100;
  height: 50%;
  text-align: center;
  margin: auto;
  z-index: 1;
  padding: 0;
  color: white;
  border: none;
}

#button:hover {
  cursor: pointer;
}

#modal-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  display: none;
  -ms-grid-columns: (12.5%)[8];
      grid-template-columns: repeat(8, 12.5%);
  -ms-grid-rows: (12.5%)[8];
      grid-template-rows: repeat(8, 12.5%);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.modal-content {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 /7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 25vw;
  height: 280px;
  border: 2px solid purple;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgba(10, 176, 218, 0.5);
  z-index: 1;
}

.modal-content label {
  text-align: left;
  font-size: 1rem;
}

.modal-content button {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#quote-text,
#quote-author {
  background-color: rgba(255, 255, 255, 0.5);
}

.toDoList-container h3 {
  padding: 0;
  margin: 0;
}

.toDoList-container #add-toDo {
  background-color: red;
}

.toDoList-container #add-toDo:hover {
  cursor: pointer;
}

#toDo-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px;
  color: white;
}

#toDo-input::-webkit-input-placeholder {
  color: white;
}

#toDo-input:-ms-input-placeholder {
  color: white;
}

#toDo-input::-ms-input-placeholder {
  color: white;
}

#toDo-input::placeholder {
  color: white;
}

@font-face {
  font-family: clock2;
  src: url("../digital-7 (mono italic).ttf");
}

.main-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12.5%)[8];
      grid-template-columns: repeat(8, 12.5%);
  -ms-grid-rows: (12.5%)[8];
      grid-template-rows: repeat(8, 12.5%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("https://image.freepik.com/free-vector/tropical-landscape-background-zoom_52683-42068.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 800px;
  min-height: 100vh;
  margin: 0;
  z-index: 1;
}

.main-div div {
  z-index: 1;
}

#quote-text {
  z-index: 1;
}

/*.bg-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}*/
@media screen and (max-width: 500px) {
  .main-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (12.5%)[8];
        grid-template-columns: repeat(8, 12.5%);
    -ms-grid-rows: (12.5%)[8];
        grid-template-rows: repeat(8, 12.5%);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .main-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (12.5%)[8];
        grid-template-columns: repeat(8, 12.5%);
    -ms-grid-rows: (12.5%)[8];
        grid-template-rows: repeat(8, 12.5%);
  }
  #button {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
  }
  #add-quote {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
  }
}
/*# sourceMappingURL=styles.css.map */