* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: auto;
  border: 5px solid white;
}

#time-container {
  width: inherit;
  height: inherit;
  z-index: 1;
  text-align: center;
  border: 1px solid black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "clock2";
  font-size: 4em;
  background-color: rgba(255, 255, 255, 0.2);
}

#main-focus-container {
  width: inherit;
  height: inherit;
  z-index: 1;
  text-align: center;
  border: 1px solid black;
  color: white;
}

#main-focus-container #main-focus {
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  text-align: center;
  color: white;
}

#main-focus-container .show {
  visibility: visible;
}

#main-focus-container .hide {
  visibility: hidden;
}

#toDoList-container {
  width: inherit;
  height: inherit;
  z-index: 1;
  text-align: center;
  border: 1px solid black;
  color: white;
}

@font-face {
  font-family: clock2;
  src: url("../digital-7 (mono italic).ttf");
}

.main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  width: 80vw;
  z-index: 1;
  border: 50px solid white;
}

#greetings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 10px solid black;
  margin: 0;
  z-index: 1;
}

#greetings-container #greetings-text {
  font-size: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: white;
}

#greetings-container input {
  display: block;
  border: none;
  border-bottom: 3px solid white;
  margin: auto;
  margin-top: 0;
  padding-right: 20px;
  width: inherit;
  height: inherit;
  max-height: 20vh;
  text-align: center;
  font-size: 2em;
  background-color: transparent;
  color: white;
}

#quote-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: inherit;
  padding: 0;
  font-size: 2.5em;
  border: 20px solid white;
  color: white;
  text-align: center;
  z-index: 1;
}

#button {
  background-color: red;
  border: 20px solid red;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

#add-quote {
  background-color: white;
  width: 100px;
  margin: auto;
  z-index: 1;
}

#modal-container {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40vw;
  height: 280px;
  border: 2px solid purple;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  z-index: 1;
}

.modal-content label {
  text-align: left;
  font-size: 1rem;
}

.modal-content button {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.toDoList-container h3 {
  padding: 0;
  margin: 0;
}

.toDoList-container #add-toDo {
  background-color: red;
}

.toDoList-container #add-toDo:hover {
  cursor: pointer;
}

#toDo-input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid red;
  padding: 5px;
  color: white;
}

#toDo-input::-webkit-input-placeholder {
  color: white;
}

#toDo-input:-ms-input-placeholder {
  color: white;
}

#toDo-input::-ms-input-placeholder {
  color: white;
}

#toDo-input::placeholder {
  color: white;
}

@font-face {
  font-family: clock2;
  src: url("../digital-7 (mono italic).ttf");
}

.main-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.main-div div {
  z-index: 1;
}

.bg-video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=styles.css.map */